body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

/* --- header stuff --- */

.header {
    display: flex;
    flex: 1;
    padding: 16px 250px 0px;
    margin: 0;
    align-items: center;
    background-color: #1f2937;
}

.siteLogo {
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.navLinkList {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.navLink {
    font-size: 18px;
    color: #e5e7eb;
}

/* --- hero stuff --- */
.hero {
    display: flex;
    background-color: #1f2937;
    padding: 50px 250px;
    gap: 32px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    width: 50%;
    height: auto;
}

.mainH1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.whiteText {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
}

.blueButton {
    color: white;
    font-weight: 900;
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
}

.imgContainer {
    flex-grow: 1;
    width: 50%;
    height: 100%;
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}